# Node modules
node_modules/

# Environment files
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Upload folder (PDF files)
uploads/

# Build output (if any later)
dist/
build/

# Editor settings
.vscode/
.idea/

# Temp files
*.tmp
*.swp
